@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

* {
    font-family: 'Montserrat', sans-serif !important;
}

.input-field {
    border-radius: 1px;
    border: 1px solid rgba(128, 128, 128, 0.521);
    width: 400px;
    height: 50px;
    padding: 0 10px;
    outline: none;
}


.input-field:focus {
    border-color: rgb(29, 27, 27);
}

.label {
    font-size: 36px;
    color: black;
}

.card {
    box-shadow: 0 0 2px rgb(189, 188, 188);
    border-radius: 10px;
    padding: 20px;

}

.primary-button {
    background-color: #0099CC;
    border-color: #0099CC;
    height: 50px;
    color: white;
    font-size: 16px;
}

.full-width-button {
    width: 100%;
}

.anchor {
    color: black;
    text-decoration: underline;
    cursor: pointer;
    font-size: 16px;
}

.anchor:hover {
    text-decoration: underline;
}

/* authentication pages */

.authentication {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #00AEEF;
}

.authentication-form {
    width: 500px;
}

.card-title {
    font-size: 1.5rem;
    font-weight: bold;
    background-color: #0099CC;
    color: white;
    max-width: max-content;
    padding: 7px 15px;
    margin-left: -40px;
    border-bottom-left-radius: 10px;
}